mat-card {
	width: 70%;
	height: 70vh;
	max-height: 100%;
	margin: 0 auto;
	margin-top: 10px;
}
mat-card-header {
	border-bottom: none !important;
	font-weight: 500;
	font-size: 20px;
	padding: 35px 0 0px 25px !important;
}
p.sub-title {
	padding: 10px 0px 20px 25px;
	color: #949599;
	font-size: 16px;
}
