.participant {
	margin-bottom: 16px;
	.dialog-header {
		display: grid;
		grid-template-columns: 50px 34% auto;
		width: 100%;
		align-items: center;

		.mat-card-subtitle {
			margin-left: 2px;
			font-size: 12px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -0.15px;
			color: #a6a7ac;
			margin-bottom: 0;
		}

		.userNameInput {
			word-break: break-all;
			font-size: 14px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -0.18px;
			color: #595959;
		}
		mat-card-subtitle {
			font-size: 12px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -0.15px;
			color: #a6a7ac;
		}
	}

	.talk-ratio-container {
		margin-bottom: 10px;
		.talk-ratio-bar {
			border-radius: 4px;
			padding: 10px 2px;
			font-weight: 500;
			letter-spacing: -0.18px;
			color: #595959;
			font-weight: 500;
			font-size: 14px;
			white-space: nowrap;
			border-radius: 4px;

			span {
				padding-left: 10px;
				font-size: 14px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: -0.18px;
				color: #595959;
				padding-left: 10px;
			}
		}
		.labels {
			margin-bottom: 5px;
			font-size: 12px;
		}
	}
}
