<app-auth-wrapper>
	<div class="form-container">
		<div>
			<div class="back-icon">
				<a routerLink="/login">
					<mat-icon class="heading-4 text-neutral-8 font-weight-500"
						>arrow_back</mat-icon
					>
				</a>
			</div>
			<div class="heading-4 text-neutral-8 font-weight-500">New Password</div>
			<div class="form-sub-title body-medium text-neutral-6 font-weight-500">
				Please enter the verification code received by email and your new
				password
			</div>

			<div class="form-content">
				<form [formGroup]="changePasswordForm">
					<do-input label="Code">
						<input
							matInput
							placeholder="- - - - - -"
							type="number"
							formControlName="varificationCode"
						/>
						<mat-error>
							<ng-container
								*ngIf="
									changePasswordForm
										.get('varificationCode')
										?.hasError('required')
								"
								>Verification Code missing
							</ng-container>
						</mat-error>
					</do-input>

					<do-input label="New Password">
						<input
							matInput
							[type]="isnewPasswordShow ? 'password' : 'text'"
							id="password"
							formControlName="newPassword"
							maxlength="16"
							(keyup)="handleCapsLock($event)"
							placeholder="8+ characters, 1 capital letter & 1 Special character "
							(focus)="showPasswordStrength()"
						/>
						<div class="capsLock" matSuffix>
							<mat-icon [ngClass]="{ showCapsLock: isCapsLockActive }"
								>arrow_upward</mat-icon
							>
						</div>
						<mat-icon matSuffix (click)="newPasswordShow()">{{
							isnewPasswordShow ? "visibility_off" : "visibility"
						}}</mat-icon>
						<mat-error>
							<mat-error>
								<ng-container
									*ngIf="
										changePasswordForm.get('newPassword')?.hasError('required')
									"
									>Password missing
								</ng-container>
							</mat-error>
						</mat-error>
					</do-input>

					<div class="form-group">
						<button
							class="update-btn"
							mat-flat-button
							color="primary"
							type="submit"
							(click)="sendNewPassword()"
							[disabled]="!changePasswordForm.valid"
						>
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="password-strengh-container">
			<div class="password-strengh" *ngIf="isPasswordStrength">
				<div class="body text-neutral-8 font-weight-500">
					Password Requirements
				</div>
				<br />
				<span
					[ngClass]="{
						activeIcon: !changePasswordForm
							.get('newPassword')
							?.hasError('min8CharRequired')
					}"
				>
					<mat-icon>circle</mat-icon> Minimum 8 characters (numbers
					allowed)</span
				><br />
				<span
					[ngClass]="{
						activeIcon: !changePasswordForm
							.get('newPassword')
							?.hasError('min1UpperLowerCaseChar')
					}"
				>
					<mat-icon>circle</mat-icon> Minimum 1 upper and lower case
					letter</span
				><br />
				<span
					[ngClass]="{
						activeIcon: !changePasswordForm
							.get('newPassword')
							?.hasError('min1SpecialChar')
					}"
				>
					<mat-icon>circle</mat-icon> Minimum 1 special
					character(.!@#$%^&*-_=+?)</span
				><br />
			</div>
		</div>
	</div>
</app-auth-wrapper>
