<div class="wrapper">
  <mat-card class="event" appActiveItem="mat-elevation-z4">
    <div class="time">11:30 am - 12:30 pm</div>
    <div class="divider"></div>
    <div class="title">This is event title</div>
    <div class="divider"></div>
    <div class="participants"><mat-icon>people</mat-icon> 5</div>
    <div class="divider"></div>
    <div class="action"><button mat-button color="warn">CANCEL</button></div>
  </mat-card>

  <mat-card class="event" appActiveItem="mat-elevation-z4">
    <div class="time">11:30 am - 12:30 pm</div>
    <div class="divider"></div>
    <div class="title">This is event long title, this is the title</div>
    <div class="divider"></div>
    <div class="participants"><mat-icon>people</mat-icon> 2</div>
    <div class="divider"></div>
    <div class="action">
      <button mat-button color="primary">SCHEDULE</button>
    </div>
  </mat-card>

  <mat-card class="event" appActiveItem="mat-elevation-z4">
    <div class="time">11:30 am - 12:30 pm</div>
    <div class="divider"></div>
    <div class="title">This is event long title, this is the title</div>
    <div class="divider"></div>
    <div class="participants"><mat-icon>people</mat-icon> 2</div>
    <div class="divider"></div>
    <div class="action">
      <button mat-button color="primary">SCHEDULE</button>
    </div>
  </mat-card>
  <mat-card class="event" appActiveItem="mat-elevation-z4">
    <div class="time">11:30 am - 12:30 pm</div>
    <div class="divider"></div>
    <div class="title">This is event long title, this is the title</div>
    <div class="divider"></div>
    <div class="participants"><mat-icon>people</mat-icon> 2</div>
    <div class="divider"></div>
    <div class="action">
      <button mat-button color="primary">SCHEDULE</button>
    </div>
  </mat-card>
  <mat-card class="event" appActiveItem="mat-elevation-z4">
    <div class="time">11:30 am - 12:30 pm</div>
    <div class="divider"></div>
    <div class="title">This is event long title, this is the title</div>
    <div class="divider"></div>
    <div class="participants"><mat-icon>people</mat-icon> 2</div>
    <div class="divider"></div>
    <div class="action">
      <button mat-button color="primary">SCHEDULE</button>
    </div>
  </mat-card>
  <mat-card class="event" appActiveItem="mat-elevation-z4">
    <div class="time">11:30 am - 12:30 pm</div>
    <div class="divider"></div>
    <div class="title">This is event long title, this is the title</div>
    <div class="divider"></div>
    <div class="participants"><mat-icon>people</mat-icon> 2</div>
    <div class="divider"></div>
    <div class="action">
      <button mat-button color="primary">SCHEDULE</button>
    </div>
  </mat-card>
  <mat-card class="event" appActiveItem="mat-elevation-z4">
    <div class="time">11:30 am - 12:30 pm</div>
    <div class="divider"></div>
    <div class="title">This is event long title, this is the title</div>
    <div class="divider"></div>
    <div class="participants"><mat-icon>people</mat-icon> 2</div>
    <div class="divider"></div>
    <div class="action">
      <button mat-button color="primary">SCHEDULE</button>
    </div>
  </mat-card>
  <mat-card class="event" appActiveItem="mat-elevation-z4">
    <div class="time">11:30 am - 12:30 pm</div>
    <div class="divider"></div>
    <div class="title">This is event long title, this is the title</div>
    <div class="divider"></div>
    <div class="participants"><mat-icon>people</mat-icon> 2</div>
    <div class="divider"></div>
    <div class="action">
      <button mat-button color="primary">SCHEDULE</button>
    </div>
  </mat-card>
  <mat-card class="event" appActiveItem="mat-elevation-z4">
    <div class="time">11:30 am - 12:30 pm</div>
    <div class="divider"></div>
    <div class="title">This is event long title, this is the title</div>
    <div class="divider"></div>
    <div class="participants"><mat-icon>people</mat-icon> 2</div>
    <div class="divider"></div>
    <div class="action">
      <button mat-button color="primary">SCHEDULE</button>
    </div>
  </mat-card><mat-card class="event" appActiveItem="mat-elevation-z4">
    <div class="time">11:30 am - 12:30 pm</div>
    <div class="divider"></div>
    <div class="title">This is event long title, this is the title</div>
    <div class="divider"></div>
    <div class="participants"><mat-icon>people</mat-icon> 2</div>
    <div class="divider"></div>
    <div class="action">
      <button mat-button color="primary">SCHEDULE</button>
    </div>
  </mat-card>
</div>
