.wrapper {
	padding: 109px 0px 0px 0px;
}

.calendar-integration-card {
	margin-top: 40px;
	display: block;
}

.desc-text {
	margin-top: 8px;
	padding: 16px 0;
	a {
		outline: none;
		font-weight: 550;
		text-decoration: underline;
	}
}

.message {
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #949599;
	font-size: 16px;
	margin-bottom: 20px;
	margin: 6px 0 0;
	font-size: 16px;
}
.title {
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	color: #231f20;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 20px;
}

.rules mat-radio-button {
	display: flex;
	flex-direction: row;
	padding: 8px 0;
	color: #595959;
}

footer button {
	margin: 0px;
	height: 45px;
	padding: 0 25px;
	&.cancel-btn {
		border: solid 1px #549ae6;
		margin-right: 20px;
	}
}

::ng-deep .rules .mat-radio-label {
	align-items: initial;
	white-space: initial;

	.mat-radio-label-content {
		padding-left: 16px;
	}
}
footer {
	margin-top: 20px;
}

:host ::ng-deep .mat-ripple-element {
	display: none !important;
}

.mat-card {
	padding: 40px 27px 40px 36px;
	border-radius: 8px;
	box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.04), 0 6px 10px 0 rgba(0, 0, 0, 0.06),
		0 3px 5px -1px rgba(0, 0, 0, 0.12) !important;
	margin-top: 32px;
}

.recording-desc {
	margin-bottom: 38px;
}

@media all and (max-width: 1600px) and (min-width: 1200px) {
	.wrapper {
		padding: 45px 0px 0px 0px;
	}

	.message {
		font-size: 14px;
	}
	.title {
		font-size: 18px;
	}
	.mat-card {
		padding: 24px 0px 24px 24px;
	}
	.recording-desc {
		margin-bottom: 20px;
	}
}
