.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 25px 35px;

  .user-name {
    padding: 15px 0px 5px 0px;
    font-size: 14px;
    font-weight: 600;
    color: #4f4e4e;
  }
  .user-email {
    padding: 0px 0px 15px 0px;
    font-size: 14px;
    font-weight: 500;
    color: #7e7e7e;
  }
  .manage-account-btn {
    width: 100%;
    margin-top: 10px;
    font-weight: normal;
    color: #4f4e4e;
  }
  .sign-out-btn {
    margin-top: 20px;
    background-color: #4184f3;
    color: white;
  }
  .mat-button-disabled{
    border: solid 1px #d0d0d0;
    background-color: #e5e5e5;
  }
}
