.title {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: -0.27px;
  color: #282828;
  margin-bottom: 8px;
}

.sub-title {
  font-size: 14px;
  letter-spacing: -0.2px;
  color: #70808e;
  opacity: 0.85;
  margin-bottom: 8px;
}

.info {
  height: 345px;
  overflow: auto;
}
