<mat-card>
  <div class="title">This is event title</div>
  <div class="sub-title">
    Tue Mar 23, 2021 11:30am - 12:30pm India Standard Time - Kolkata
  </div>
  <div class="view-in-calendar">
    <a href="javascript:void(0)"> View in calendar </a>
  </div>
  <hr />
  <div class="info">
    <span> Joining Info: </span>
    <div>Join with Google Meet</div>
    <div>
      <a href="javascript:void(0)" class="underline">
        meet.google.com/faddf-32dfs
      </a>
    </div>
    <br />
    <div>Join by phone</div>
    <div>
      (US)<a href="javascript:void(0)" class="underline"> +1 224-485-3094 </a>(PIN:
      119384895)
    </div>
    <br />
    <div>
      <a href="javascript:void(0)" class="underline">
        More phone numbers
      </a>
    </div>
    <br />
    <div>Calender:</div>
    <div>Suhas Nair</div>
    <br />
    <div>Who:</div>
    <div>Suhas Nair - <span class="sub-title">Organizer</span></div>
    <div>david.hance@abc.com</div>
    <div>example1@example.com</div>
    <div>example2@example.com</div>
    <div>example3@example.com - <span class="sub-title">optional</span></div>
    <br />
    <div>Agenda:</div>
    <div>Review status of the points discussed on the last call.</div>

  </div>
</mat-card>
