<app-auth-wrapper>
	<div class="form-container">
		<div class="back-icon">
			<a routerLink="/login">
				<mat-icon class="heading-4 text-neutral-8 font-weight-500"
					>arrow_back</mat-icon
				>
			</a>
		</div>
		<div class="heading-4 text-neutral-8 font-weight-500">Forgot Password?</div>
		<div class="form-sub-title body-medium text-neutral-6 font-weight-500">
			We will email you a code to reset your password
		</div>
		<form>
			<div class="form-content">
				<do-input label="Registered E-mail">
					<input
						matInput
						type="text"
						[formControl]="regEmail"
						placeholder="name@company.com"
					/>
					<mat-error>
						<ng-container
							*ngIf="regEmail?.touched && regEmail?.hasError('required')"
							>Email Address Missing.
						</ng-container>
						<ng-container
							*ngIf="regEmail?.touched && regEmail?.hasError('email')"
							>Invalid e-mail address.
						</ng-container>
					</mat-error>
				</do-input>
				<div class="form-group">
					<button
						type="submit"
						mat-flat-button
						color="primary"
						class="Reset-btn"
						[disabled]="regEmail.invalid || isDisableReset"
						(click)="sendForgotPasswordMail()"
					>
						Send Code
					</button>
				</div>
			</div>
		</form>
	</div>
</app-auth-wrapper>
