<div class="wrapper">
    <div class="wrapper-header">
        Welcome to DataOrb Notes
    </div>
    <div class="wrapper-body">
        <div class="content">
            Your recorded meetings will be listed here. <br>
             If you have synced your calendar, <br>
            DO Notes will sync meetings based on configured rules.
        </div>

        <div class="content">
            You can click on the recorded meeting to review details.
        </div>

        <div class="content">
            You can see your upcoming synced meetings in calendar gadget.
        </div>
    </div>
</div>
