.do-card{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 50px 0px;
    margin: 0px;
    h1{
        font-size: 32px;
    }

    p{
        font-size: 18px;
        line-height: 2;
    }
}