<div class="wrapper">
  <div class="filter-button">All Calls ({{ total }})</div>
  <!-- <button
    class="filter-button"
    mat-stroked-button
  >
    All Calls ({{ total }}) <mat-icon mat-list-icon>arrow_drop_down</mat-icon> 
  </button> -->
  <!-- <mat-menu #button="matMenu" xPosition="before">
    <button mat-menu-item (click)="onFilterChange('all')">
      <span>All Calls</span>
    </button>
    <button mat-menu-item (click)="onFilterChange('my')">
      <span>My Calls</span>
    </button>
  </mat-menu> -->
</div>
